@import url("_calendar.css");
@import url("_teams.css");
@import url("_typography.css");
@import url("_gravatar.css");
@import url("bootstrap_overrides.css");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #91D1BF;
}

.push-behind-screen {
  position: absolute;
  left: -4000px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
